.my-top {
    display: flex;
    justify-content: space-around;
    max-height: 30vh;
    /* border: 2px solid black; */
    margin-top: 5%;
    font-size: 16px;
}
.my-1,
.my-2,
.my-3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    flex-direction: column;
    color: rgb(0, 0, 0);
    /* border: 2px solid red; */
    padding: 12px ;
    font-weight: 600;
    background-color: goldenrod;
    border-radius: 10px 29px 10px 29px;
}
.my-label{
    color: rgb(73, 55, 55);
    /* border: 2px solid black;
     */
}
.card {
   
    width: 100%;
    padding: 20px;
    border: 1px solid #af9307;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(255, 225, 0, 0.1);
    font-family: Arial, sans-serif;
    margin:  20px auto;
    color: #ad5f23;
}

.card h3 {
    margin: 10px 0;
    text-decoration: none;
    color: inherit;    
}

hr {
    border: none;
    border-top: 1px solid #ffea04;
    margin: 20px 0;
}
.my-persnol-detail{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
margin-left: 30px;
}
.my-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.icon-item{
    background-color: #9aa02f;
}
.underline-none{
    text-decoration: none;
  }